<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="senskids suite">
	<test name="senskids test">
		<classes>
			<class name="signup_script" />
			<class name="Login_script" />
			<class name="home_page_script" />
			<class name="product_listing_script" />
			<class name="product_details_script" />
			
		</classes>
	</test>
</suite>